<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371403945977-jqugjp199rbdnr3njqsi0vg69v4tvbvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371403945977-jqugjp199rbdnr3njqsi0vg69v4tvbvo</string>
	<key>API_KEY</key>
	<string>AIzaSyDmG4pALJvHvGGro7O8kQkx7MzRXKi5teM</string>
	<key>GCM_SENDER_ID</key>
	<string>371403945977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.swiftioslearning.SwiftiOSLearning</string>
	<key>PROJECT_ID</key>
	<string>testios-1c8bc</string>
	<key>STORAGE_BUCKET</key>
	<string>testios-1c8bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:371403945977:ios:58a9ce205df74b7c</string>
	<key>DATABASE_URL</key>
	<string>https://testios-1c8bc.firebaseio.com</string>
</dict>
</plist>
